<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tarefa">
            <h2><span jhiTranslate="tasklistApp.tarefa.detail.title">Tarefa</span> {{ tarefa.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tasklistApp.tarefa.dsTarefa">Ds Tarefa</span></dt>
                <dd>
                    <span>{{ tarefa.dsTarefa }}</span>
                </dd>
                <dt><span jhiTranslate="tasklistApp.tarefa.dsObservacao">Ds Observacao</span></dt>
                <dd>
                    <span>{{ tarefa.dsObservacao }}</span>
                </dd>
                <dt><span jhiTranslate="tasklistApp.tarefa.boConcluido">Bo Concluido</span></dt>
                <dd>
                    <span>{{ tarefa.boConcluido }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tarefa', tarefa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
